.element__delete{
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../../../images/trash.svg") transparent center no-repeat;
  min-width: 18px;
  min-height: 19px;
  border: none;

  padding: 0;
  transition: opacity 0.1s;
  z-index: 2;
}

.element__delete:hover{
  opacity: 50%;
  cursor: pointer;
}
