.popup__form{
  padding: 0;
  margin-top: 50px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

@media screen and (max-width: 767px){
  .popup__form{
    margin-top: 75px;
  }
}
