.popup__fieldset{
  padding: 0;
  margin: 50px 0 48px 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

@media screen and (max-width: 767px){
  .popup__fieldset{
    margin: 77px 0 46px 0;
  }
}
