.profile__bt-add{
  min-width: 150px;
  min-height: 50px;
  background: url("../../../images/addbutton.svg") transparent center no-repeat;
  background-size: 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 0;
  transition: opacity 0.1s;
}

.profile__bt-add:hover {
  opacity: 60%;
  cursor: pointer;
}


@media screen and (max-width: 767px){
  .profile__bt-add{
    min-width: 282px;
    min-height: 50px;
    background-size: 16px;
    margin-top: 32px;
  }
}
