.popup__close{
  width: 32px;
  height: 32px;
  padding: 0;
  background: url("../../../images/CloseIcon.svg") transparent center no-repeat;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  border:none;
  transition: opacity 0.1s;
}

.popup__close:hover{
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .popup__close{
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
